/* CSS de la page index */
#body-index {
    background-color: black;
    color:bisque;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif  ;
}
.h1-custom{
    color:white;
}
#p-custom-id{
    color:blueviolet;
    
    display:flex ;
    flex-direction: row;
}
